@* @model IEnumerable<WeatherForecast>

@{
    ViewData["Title"] = "Weather Forecast";
}

<h2>@ViewData["Title"]</h2>

@foreach (var forecast in Model)
{
    <div class="weather-forecast">
        <h3>@forecast.Date.ToShortDateString()</h3>
        <p>Temperature: @forecast.TemperatureC&deg;C</p>
        <p>Summary: @forecast.Summary</p>
    </div>
} *@
@* @model IEnumerable<StationeryAPI.ShoppingModels.TblProduct>

@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>
@foreach (var item in Model)
{
    <div>@item.ProId</div>
    <div>@item.ProName</div>

}
 *@

@model ProductPageViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="product_box">
                <h4 class="bursh_text">@item.ProName</h4>
                <p class="lorem_text">@item.Description - Seller: <strong>@item.dealerId</strong></p>
                <img src="@item.ImageLink" class="image_1">
                <div class="btn_main">
                    <div class="buy_bt">
                        <ul>
                            <li class="active"><a href="#">Buy Now</a></li>
                            <li class="active"><a href="#">Buy Now</a></li>
                        </ul>
                    </div>
                    <h3 class="price_text">@item.Price</h3>
                </div>
            </div>
        </div>
    }
</div>


<div>
    Page @Model.CurrentPage of @Model.TotalPages

    @if (Model.CurrentPage > 1)
    {
        <button onclick="goToPage(@(Model.CurrentPage - 1))">Previous</button>
    }

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <button type="button" onclick="goToPage(@(Model.CurrentPage + 1))">Next</button>
    }
</div>

<script>
    function goToPage(page) {
        const url = new URL(window.location);
        url.searchParams.set('page', page);
        // Preserve the pageSize selection when navigating pages
        const pageSize = document.querySelector('select[name="pageSize"]').value;
        url.searchParams.set('pageSize', pageSize);
        console.log(url.href);
        window.location.href = url.href; // Navigate with the new query parameters.
    }
</script>

<div>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <button type="button" onclick="goToPage(@i)">@i</button>
    }
</div>

<div>
    <form method="get">
        <label for="pageSize">Products per page:</label>
        <select name="pageSize" onchange="this.form.submit()">
            <option value="4">4</option>
            <option  value="8">8</option>
            <option  value="12">12</option>
        </select>
    </form>
</div>

