@model StationeryAPI.ShoppingModels.UpdateDelivery

@{
    ViewData["Title"] = "Update Delivery";
    Layout = "~/Views/Shared/_DealerLayout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Cập nhật thông tin giao hàng</div>
            </div>
            <div class="ibox-body">
                <form id="updatedeliveryForm">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="deliveryId">Mã vận đơn</label>
                            <input class="form-control" type="text" id="deliveryId" name="deliveryId" value="@Model.DeliveryId" readonly required placeholder="Mã vận đơn">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="orderId">Mã đơn</label>
                            <input class="form-control" type="text" id="orderId" name="orderId" value="@Model.OrderId" readonly placeholder="Mã đơn hàng" required>
                        </div>
                    </div>
                    <div class="form-group" id="date_3">
                        <label class="font-normal" for="deliveryDate">Ngày giao</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input class="form-control" type="date" id="deliveryDate" value="@Model.DeliveryDate.ToString("yyyy-MM-dd")" name="deliveryDate" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="deliveryStatus">Trạng thái</label>
                            <select class="form-control input-sm" id="deliveryStatus"  name="deliveryStatus" required placeholder="Trạng thái">
                                <option value="@Model.DeliveryStatus" selected>@Model.DeliveryStatus</option>
                                <option value="Dispatched">Dispatched</option>
                                <option value="Not Dispatched">Not Dispatched</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="deliveryFee">Phí giao hàng</label>
                            <input class="form-control" type="number" id="deliveryFee" value="@Model.DeliveryFee" name="deliveryFee" required step="0.01" placeholder="Tổng giá" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="carrierName">Nhân viên giao hàng</label>
                            <select class="form-control input-sm" id="carrierName" name="carrierName" required placeholder="Người giao hàng">
                                <option value="@Model.CarrierName" selected>@Model.CarrierName</option>
                                <option value="Lý Văn Long">Lý Văn Long</option>
                                <option value="Nguyễn Tuấn Tài">Nguyễn Tuấn Tài</option>
                                <option value="Trần Huy Đạt">Trần Huy Đạt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-rounded" type="submit">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Đơn hàng sau khi cập nhật</div>
            </div>
            <div class="ibox-body">
                <div id="deliveryResult"></div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        document.getElementById('updatedeliveryForm').addEventListener('submit', async function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Gather form data into an order object
            var delivery = {
                deliveryId: document.getElementById('deliveryId').value,
                orderId: document.getElementById('orderId').value,
                deliveryDate: document.getElementById('deliveryDate').value,
                deliveryStatus: document.getElementById('deliveryStatus').value,
                deliveryFee: parseFloat(document.getElementById('deliveryFee').value),
                carrierName: document.getElementById('carrierName').value,
               
            };

            try {
                const response = await fetch('https://localhost:7106/api/Customer/UpdateDelivery', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(delivery)
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    console.error('Failed to update delivery:', errorData);
                    document.getElementById('deliveryResult').textContent = 'Failed to create order: ' + JSON.stringify(errorData);
                } else {
                    const returndelivery = await response.json();
                    console.log('Delivery updated:', returndelivery);

                    // Here is where you place the code to update the 'orderResult' div
                    document.getElementById('deliveryResult').innerHTML = `
                    
                                                                                 <form id="updatedeliveryForm">
              <div class="row">
                  <div class="col-sm-6 form-group">
                      <label for="deliveryId">Mã vận đơn</label>
                      <input class="form-control" type="text" id="deliveryId" name="deliveryId" value="${returndelivery.deliveryId}" readonly required placeholder="Mã vận đơn">
                  </div>
                  <div class="form-group col-sm-6">
                      <label for="orderId">Mã đơn</label>
                      <input class="form-control" type="text" id="orderId" name="orderId" value="${returndelivery.orderId}" readonly placeholder="Mã đơn hàng" required>
                  </div>
              </div>
              <div class="form-group">
                      <label for="orderId">Mã đơn</label>
                      <input class="form-control" type="text" id="orderId" name="orderId" value="${returndelivery.deliveryDate}" readonly placeholder="Mã đơn hàng" required>
                  </div>
              <div class="row">
                  <div class="col-sm-6 form-group">
                      <label for="deliveryStatus">Trạng thái</label>
                      <input class="form-control" type="text" id="deliveryStatus" name="deliveryStatus" value="${returndelivery.deliveryStatus}" readonly required placeholder="Trạng thái">
                  </div>
                  <div class="form-group col-sm-6">
                      <label for="deliveryFee">Phí giao hàng</label>
                      <input class="form-control" type="number" id="deliveryFee" name="deliveryFee" value="${returndelivery.deliveryFee}" readonly required step="0.01" placeholder="Tổng giá" />
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 form-group">
                      <label for="carrierName">Carrier Name:</label>
                      <input class="form-control" type="text" id="carrierName" name="carrierName" value="${returndelivery.carrierName}" readonly required placeholder="Người giao hàng" />
                  </div>
              </div>
          </form>
                                         <a href="/Home/DeliveriesByDealer">Về trang trước</a>                                           `;
                }
            } catch (error) {
                console.error('Error:', error);
                document.getElementById('deliveryResult').textContent = 'An error occurred while sending the order.';
            }
        });
    </script>
}


